.thegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    place-self: center;
    }
.thegriditem {
    background-color: rgb(247, 245, 174);
}
.thegriditem:hover {

    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, .25);
}

    a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      a:active {
        text-decoration: underline;
      }


h1 {
    font-size: 200%;
    color: chocolate;
}

body {
    background-color: azure;
    margin: 0px;
    padding: 10px;
}

main {
    padding: 16px;
}

img {
    padding-left: 5px;
    width: 250px;
    height: 200px;
}

.tablist {
    background-color: aliceblue;
    border: 2px;
    border-color: rgb(66, 115, 252);
}


footer {
    font-size: 200%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: goldenrod;
    color: rgb(6, 0, 56);
}

nav {
    font-size: 300%;
    background-color: goldenrod;
    border: 5px;
    border-color: rgb(59, 40, 24);
    padding: 16px;
}
